body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.movie img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.high-rating {
  background-color: lightgreen;
}

.want-to-see {
  background-color: green;
}

.movie-icons {
  display: flex;
  justify-content: space-between;
}